<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <h3 class="center-align">Nkondlo Ice creams</h3>
        </div>
        <div class="col-2">
        </div>
    </div>
    {{!-- <a href="/order">
        <span class="new badge blue">{{order}}</span>
        <i class="Medium material-icons right"> card_giftcard</i>
    </a>
    <a href="/order">
        <span class="new badge blue">{{order}}</span>
        <i class="Medium material-icons right"> card_giftcard</i>
    </a> --}}
    <div class="row">
        <div class="center-align">
            <p>choose your Cone, Flavour and Topping below </p>
            <p class="error"> {{messages.error}}</p>
            <p id="clear" class="sucess"> {{messages.sucess}}</p>

            <a href="/order">
                <span class="new badge blue">{{order}}</span>
                <i class="Medium material-icons right"> card_giftcard</i>
            </a>
        </div>

    </div>

    <form action="/edit/{{id}}" method="post">
        <div class="row">
            <div class="col-4">
                <p> How do you like your CONE? </p>
                {{#each cones}}
                <p>
                    <label class="price">
                        <input name="container" value={{name}} type="radio" {{checked}} />
                        <span>{{name}} at : R{{price}}</span>
                    </label>
                </p>
                {{/each}}

            </div>


            <div class="col-4">
                <p> Your Flavour</p>
                {{#each flavour}}
                <p>
                    <label>
                        <input name="flavour" value={{name}} type="radio" {{checked}} />
                        <span>{{name}} at : R{{price}}</span>
                    </label>
                </p>
                {{/each}}
            </div>

            <div class="col-4">
                <p> Your Toppin(s)</p>
                {{#each topping}}
                <p>
                    <label>
                        <input name="topping" value={{name}} type="checkbox" {{checked}} />
                        <span>{{name}} at : R{{price}}</span>
                    </label>
                </p>
                {{/each}}
            </div>

        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="center-align">
                {{!-- onclick="M.toast({html: 'Order placed', classes: 'rounded', inDuration: 500})" --}}
                <button class="btn waves-effect waves-light" type="submit" name="action"> Update
                    {{!-- <a onclick="M.toast({html: 'Order placed'})" class="btn">Order --}}
                        <i class="Large material-icons right">update</i>
                        {{!-- </a> --}}
                </button>


            </div>
            <div class="col-4">
                {{!-- <button class="btn waves-effect waves-light" type="submit" name="action">Cart --}}
                    {{!-- <a href="/order">
                        <span class="new badge blue">{{order}}</span>
                        <i class="Medium material-icons right"> card_giftcard</i>
                    </a> --}}
                    {{!-- </button> --}}
            </div>
            <div class="col-2"></div>
        </div>
        {{!--
        <button class="btn waves-effect waves-light" type="submit" name="action">order
            <i class="material-icons right">room_service</i>
        </button> --}}
    </form>

</div>

</div>
</div>

<script>
    let cone = document.querySelector(".price")
    cone.addEventListener("click", list => {
        console.log("fuck it")
        // let price = list.target.dataset.price;
        //console.log({price})
        // const toppingCount = document.querySelectorAll('.topping:checked');
        // toppingTotal = 0;
        // toppingCount.forEach(check => {
        //  toppingTotal += price;
        //});
        // total.innerHTML = iceFactory.getTotalAmount()
    });
    setTimeout(function () {
        document.querySelector(".sucess").innerHTML = ""
    }, 2000)
    setTimeout(function () {
        document.querySelector(".error").innerHTML = ""
    }, 2000)
</script>